@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800&display=swap');


$ModerateCyan: #3cb4ac;
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$LightGray: #e4eaec;
$DarkGray: hsl(0, 0%, 48%);
$Headerweight: 800;
$Buttonweight: 700;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

.pad {
    padding: 0 30px;

    @media (min-width:800px) {
        padding: 0 100px;
    }
}


.tracker-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border: 1px solid $LightGray;
    width: 70vw;
    margin: 0 auto;
    border-radius: 12px;
    margin-bottom: 20px;
    padding: 20px 30px;
    position: relative;
    box-shadow: -8px 12px 8px -5px rgba(86, 86, 86, 0.05);
    -webkit-box-shadow: -8px 12px 8px -5px rgba(86, 86, 86, 0.05);
    -moz-box-shadow: -8px 12px 8px -5px rgba(86, 86, 86, 0.05);

    @media (min-width:800px) {
        width: 55vw;
        padding: 20px 50px;
        text-align: left;
        align-items: flex-start;
    }

    .tracks {
        margin-bottom: 30px;

        .heading {
            font-size: 3rem;
            margin-bottom: -15px;

        }

        .border {
            // border-bottom: 1px solid gray;
            position: relative;


            &:nth-child(2):after,
            &:nth-child(3):after {
                content: ' ';
                background-color: $LightGray;
                height: 2px;
                width: 180px;
                position: absolute;
                right: 0;
                left: 0;
                top: -11px;

            }
        }

        .body {
            font-size: 1.2rem;
            color: $DarkGray;

            @media (min-width:800px) {
                font-size: 1.5rem;
            }
        }

        @media (min-width:800px) {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 60px;

            .border {
                // border-bottom: 1px solid gray;
                position: relative;

                &:nth-child(2):after,
                &:nth-child(3):after {
                    content: ' ';
                    background-color: $LightGray;
                    height: 80px;
                    width: 2px;
                    position: absolute;
                    left: -18%;
                    top: 30px;

                }

            }

            .body {
                font-size:
                    clamp(1rem, 2.5vw, 1.3rem);
                color: $DarkGray;
            }

            .heading {
                font-size:
                    clamp(1.8rem, 2.5vw, 3rem);
            }
        }
    }

    // .progress-container {
    //     width: 95%;
    //     height: 16px;
    //     border-radius: 10px;
    //     background-color: $LightGray;
    //     overflow: hidden;
    //     margin-bottom: 15px;
    // }

    // .progress-bar {
    //     background-color: $ModerateCyan;
    //     width: 50%;
    //     height: 100%;
    //     border-radius: 20px;
    // }
}