$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$LightGray: hsl(180, 2%, 81%);
$DarkGray: hsl(0, 0%, 48%);
$Headerweight: 800;
$Buttonweight: 700;

form{
    position: relative;
   width: 45%;

.amount {
    border-radius: 50px;
    border: 1px solid $LightGray;
    padding: 15px 5px;
    font-size: .8rem;
    width:90px;
    font-weight: $Buttonweight;
    color: $DarkGray;
    margin-right: 10px;

    @media (min-wdith:900px) {
         width: 180px;
         padding: 50px 10px;
         border: 1px solid red;
    }

}
span{
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 1.1rem;
    font-weight: $Buttonweight;
    color: $DarkGray;

    
}
}