$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$LightGray: hsl(195, 17%, 91%);
$DarkGray: hsl(0, 0%, 48%);
$Headerweight: 800;
$Buttonweight: 700;



.reward {
    background-color: $ModerateCyan;
    border-radius: 50px;
    border: none;
    overflow-x: auto;
    padding: 5px 20px;
    font-size: 1.2rem;
    font-weight: $Buttonweight;
    color: white;
    height: 60px;
    transform: scale(.8);
    margin-left: -10px;
    width: 200px;
    cursor: pointer;
    // @media (min-width:400px) {
    //     font-size: .8rem;
    //     padding: 10px 30px;
    //      height: 60px;
    // }

    @media (min-width:700px) {
        font-size: 1.2rem;
        height: 75px;
        margin-left: 0;
    }

    &:hover {
        background-color: $DarkCyan;
    }
}

.continue {
    background-color: $ModerateCyan;
    border-radius: 50px;
    border: none;
    overflow-x: auto;
    padding: 5px 4px;
    font-size: 1.5rem;
    font-weight: $Buttonweight;
    color: white;
    height: 65px;
    transform: scale(.8);
    margin-left: -10px;
    width: 250px;
    cursor: pointer;

    // @media (min-width:400px) {
    //     font-size: .8rem;
    //     padding: 22px 50px;
    //      height: 75px;
    // }

    @media (min-width:700px) {
        font-size: 1.2rem;
        height: 75px;
    }

    &:hover {
        background-color: $DarkCyan;
    }
}

.btn {
    background-color: $ModerateCyan;
    border-radius: 50px;
    border: none;
    padding: 5px 20px;
    font-size: .8rem;
    font-weight: $Buttonweight;
    color: white;
    height: 60px;
    transform: scale(.8);
    cursor: pointer;

    // @media (min-width:400px) {
    //     font-size: .8rem;
    //     padding: 5px 40px;
    //     height: 75px;
    // }

    @media (min-width:700px) {
        font-size: 1.3rem;
        padding: 12px 30px;
        height: 75px;
        width: 250px;
    }

    &:hover {
        background-color: $DarkCyan;
    }
}

.btn-back {
    background-color: $ModerateCyan;
    border-radius: 50px;
    border: none;
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: $Buttonweight;
    color: white;
    height: 70px;
    width: 200px;
    transform: scale(.8);
    cursor: pointer;
    // @media (min-width:400px) {
    //     font-size: .8rem;
    //     padding: 5px 40px;
    //     height: 75px;
    // }

    @media (min-width:700px) {
        font-size: 1.5rem;
        padding: 12px 30px;
        height: 75px;
        width: 300px;
    }

    &:hover {
        background-color: $DarkCyan;
    }
}