@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800&display=swap');


$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$LightGray: hsl(195, 17%, 91%);
$DarkGray: hsl(0, 0%, 48%);
$Headerweight: 800;
$Buttonweight: 700;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

.pad {
    padding: 0 30px;

    @media (min-width:800px) {
        padding: 0 100px;
    }
}

.pledges-wrapper { display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    background-color: white;
    border: 1px solid $LightGray;
    width: 68vw;
    margin: 0 auto;
    border-radius: 12px;
    padding: 20px 40px;
    position: relative;
    margin-top: 40%;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;

    

    @media (min-width:800px) {
        width: 50vw;
        padding: 20px 50px;
        align-items: flex-start;
    }
    
    background-color: white;
    label {
        font-size: 1.2rem;
        font-weight: $Buttonweight;
        &:hover{
            color: $ModerateCyan;
        }
    }

    input[type='radio'] {
        transform: scale(2);
        margin-right: 1.2rem;
    }

    .Modalhead{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: left;
        text-align: left;
        background-color: white;
        border: 2px solid $LightGray;
        margin: 0 auto;
        border-radius: 12px;
        padding: 30px 30px 40px 30px;
        position: relative;
        margin-bottom: 20px;

        .head,
        .bottom {
            .heading {
                margin: 0;

            }

            

            .pledge {
                color: $ModerateCyan;
                font-size: clamp(1rem, 2.5vw, 1.3rem);
                margin-left: 2.5rem;
            }

            @media (min-width:700px) {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
        }

        .body {
            font-size: 1.2rem;
            color: $DarkGray;
            line-height: 1.8rem;
            margin-bottom: 80px;
    
            @media (min-width:800px) {
                font-size: 1.5rem;
                margin-bottom: 50px;
            }

    }


    .slots {
        @media (max-width:800px) {
        display: flex;
        align-items: center;
        gap: 5px;
        font-size: 1rem;
        font-weight: $Buttonweight;
        position: absolute;
        bottom: 35%;
        &::after{
            content: '';
            position: absolute;
            bottom: 10px;
            height: 2px;
            background-color: red;
            bottom: 2%;
            left: -30px;
            width: 338px;
        }
        }
        
            display: flex;
            align-items: center;
            gap: 5px;
            font-size: 1rem;
            font-weight: $Buttonweight;
        

        p {
            font-size: 1rem;
            color: $DarkGray;
        }
    }

    .hide{
        display: none;
    }
    @media (min-width:800px) {
    padding:15px 30px;
    }
    }

    .bottom{
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid rgb(0, 38, 255);
        padding: 0;
        .pledge-container{
         display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;

transform: scale(.8);   
        }
    }

//   .pay{
//     padding: 15px 20px;
//   }
}