@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800&display=swap');


$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$LightGray: hsl(195, 17%, 91%);
$DarkGray: hsl(0, 0%, 48%);
$Headerweight: 800;
$Buttonweight: 700;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}

.pad {
    padding: 0 30px;

    @media (min-width:800px) {
        padding: 0 100px;
    }
}

.monitor-wrapper {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid $LightGray;
    width: 68vw;
    margin: auto;
    margin-bottom: 35px;
    border-radius: 12px;
    padding: 30px 40px;
    position: relative;
    margin-top: 320px;
    box-shadow: -8px 12px 8px -5px rgba(86, 86, 86, 0.11);
    -webkit-box-shadow: -8px 12px 8px -5px rgba(86, 86, 86, 0.11);
    -moz-box-shadow: -8px 12px 8px -5px rgba(86, 86, 86, 0.11);

    @media (min-width:800px) {
        width: 50vw;
        padding: 20px 50px 40px 50px;
    }

    .monitor-icon {
        position: absolute;
        left: 10%;
        right: 10%;
        top: -40px;
        // border: 1px solid red;

        img {
            width: 70px;
        }
    }

    .heading {
        margin-top: 40px;
        font-size: 1.6rem;
        margin-bottom: 0;

        @media (min-width:800px) {
            font-size: 2.5rem;
        }
    }

    .body {
        font-size: 1.2rem;
        color: $DarkGray;
        margin-bottom: 40px;

        @media (min-width:800px) {
            font-size: 1.5rem;
        }
    }

    .bookmark {
        display: flex;
        justify-content: space-between;


        .btn {
            background-color: $ModerateCyan;
            border-radius: 50px;
            border: none;
            padding: 5px 35px;
            font-size: .8rem;
            font-weight: $Buttonweight;
            color: white;

            @media (min-width:400px) {
                font-size: .8rem;
                padding: 5px 40px;
            }

            @media (min-width:700px) {
                font-size: 1.3rem;
            }

        }

        .bookmark-icon {
            position: relative;
            cursor: pointer;

            @media (min-width:700px) {
                display: flex;
                align-items: center;
            }


        }

        .bookmark-icon img {
            width: 70px;

            @media (min-width:700px) {
                width: 65px;
                margin-right: -70px;
                z-index: 5;
                padding-right: 20px;
            }
        }

        .bookmark-text {
            display: none;
            align-items: center;
            text-align: right;
            padding: 8px 20px;
            background-color: $LightGray;
            border-radius: 40px;

            @media (min-width:700px) {
                display: flex;

                h1 {
                    font-size: 1rem;
                    margin-left: 40px;
                }
            }

            // }

        }
    }
}