$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$LightGray: hsl(195, 17%, 91%);
$DarkGray: hsl(0, 0%, 48%);
$Headerweight: 800;
$Buttonweight: 700;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
}
.card {
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid $LightGray;
    width: 68vw;
    margin: auto;
    border-radius: 12px;
    padding: 20px 40px;
    position: relative;    
    box-shadow: -8px 12px 8px -5px rgba(0, 0, 0, 0.11);
    -webkit-box-shadow: -8px 12px 8px -5px rgba(0, 0, 0, 0.11);
    -moz-box-shadow: -8px 12px 8px -5px rgba(0, 0, 0, 0.11);
    
    @media (min-width:800px) {
        width: 50vw;
        padding: 20px 60px;
    }
}