@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800&display=swap');


$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$LightGray: hsl(195, 17%, 91%);
$DarkGray: hsl(0, 0%, 48%);
$Headerweight: 800;
$Buttonweight: 700;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    position: relative;
}

.pad {
    padding: 0 30px;

    @media (min-width:800px) {
        padding: 0 50px;
    }
}

.submit-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: white;
    border: 1px solid $LightGray;
    max-width: 68vw;
    margin: 0 auto;
    border-radius: 12px;
    padding: 40px 15px;
    position: absolute;
    left: 0;
    right: 0;
    top: 5%;
    z-index: 9;

    @media (min-width:800px) {
        max-width: 30vw;
        top: 45%;
    }

    .heading {
        margin-top: 40px;
        font-size: 1.6rem;
        margin-bottom: 0;
        text-align: center;
    }

    .body {
        font-size: 1.2rem;
        color: $DarkGray;
        line-height: 2.5rem;
        margin-bottom: 50px;
    }
}