@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700;800&display=swap');


$ModerateCyan: hsl(176, 50%, 47%);
$DarkCyan: hsl(176, 72%, 28%);
$Black: hsl(0, 0%, 0%);
$DarkGray: hsl(0, 0%, 48%);
$Bkg: hwb(0 94% 6%);
$Headerweight: 800;
$Buttonweight: 500;


body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Commissioner', sans-serif;
    font-size: 16px;
    background-color: $Bkg;
    min-height: 100vh;
}


  
.modal-wrapper {
    background-image: url("../../images/image-hero-mobile.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    max-width: 100%;
    background-color: $Bkg;
    padding: 20px 0;

    @media (min-width:800px) {
        background-image: url("../../images/image-hero-desktop.jpg");
        background-position: center;
        background-size: cover;
        height: 550px;
    }

}

.overlay{
    background-color: rgb(0, 0, 0,.7);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

}